openapi: 3.0.3
info:
  title: User Credential Documentation
  version: 1.0.0
  description: API documentation for user credentials.
  license:
    name: Apache 2.0
    url: https://www.oloid.ai
servers:
- url: https://api.oloidpreview.com
- url: https://api.previewoloid.com
paths:
  /credentials/user/password/{oloID}/{credentialID}:
    get:
      summary: Get user password.
      description: This endpoint retrieves the password for a specific credential with the given ID.
      operationId: getUserPasswordByCredentialID
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      - name: oloID
        in: path
        required: true
        schema:
          type: string
          description: The unique OloID of the user.
          pattern: ^[0-9a-fA-F]{32}$
          example: 70a4f870d7ef11ef97ef7fd6a9ac4856
          minLength: 32
          maxLength: 32
          nullable: false
      - name: credentialID
        in: path
        required: true
        schema:
          type: string
          description: The unique OloID of the user.
          pattern: ^[0-9a-fA-F]{32}$
          example: 70a4f870d7ef11ef97ef7fd6a9ac4856
          minLength: 32
          maxLength: 32
          nullable: false
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  message:
                    type: string
                    nullable: true
                  data:
                    $ref: "#/components/schemas/Credential"
              examples:
                default:
                  $ref: "#/components/examples/GetUserPasswordSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/BadRequestExample"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/UnauthorizedExample"
        "404":
          description: Does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/NotFoundExample"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/InternalServerErrorExample"
        "502":
          description: "Bad Gateway: The proxy server received an invalid response."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/BadGatewayExample"
    delete:
      summary: delete user password
      description: It is to delete user password
      operationId: deleteUserPasswordCredential
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      - in: path
        name: oloID
        required: true
        schema:
          type: string
          description: The unique OloID of the user.
          pattern: ^[0-9a-fA-F]{32}$
          example: 70a4f870d7ef11ef97ef7fd6a9ac4856
          minLength: 32
          maxLength: 32
          nullable: false
      - name: credentialID
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/DeleteUserPasswordSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/BadRequestExample"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/UnauthorizedExample"
        "404":
          description: Does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/NotFoundExample"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/InternalServerErrorExample"
        "502":
          description: "Bad Gateway: The proxy server received an invalid response."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/BadGatewayExample"
  /credentials/user/password:
    post:
      summary: Create user password
      description: Create user password
      operationId: createUserPasswordCredential
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      requestBody:
        description: User credential details.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Credential"
              required:
              - OloID
              - UserType
              - UserName
              - DomainName
              - PasswordType
            examples:
              default:
                $ref: "#/components/examples/CreateUserPasswordRequestExample"
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/CreateUserPasswordSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/BadRequestExample"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/UnauthorizedExample"
        "404":
          description: Does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/NotFoundExample"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/InternalServerErrorExample"
        "502":
          description: "Bad Gateway: The proxy server received an invalid response."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/BadGatewayExample"
    put:
      summary: Update User Credentials for password-related information.
      description: Update User Credentials with additional identifiers and settings.
      operationId: updateUserPasswordCredential
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Credential"
              required:
              - OloID
              - CredentialID
            examples:
              default:
                $ref: "#/components/examples/UpdateUserPasswordRequestExample"
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/UpdateUserPasswordSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/BadRequestExample"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/UnauthorizedExample"
        "404":
          description: Does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/NotFoundExample"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/InternalServerErrorExample"
        "502":
          description: "Bad Gateway: The proxy server received an invalid response."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/BadGatewayExample"
  /credentials/shared/password/{settingType}:
    get:
      summary: Get shared password.
      description: Get shared password by settingtype.
      operationId: getSharedPasswordByID
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      - name: settingType
        in: path
        required: true
        schema:
          type: string
          nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CredentialsharedRequest"
            examples:
              default:
                value:
                  Assignees:
                  - "13365320caa4dfse33ebb9f67439fe37"
                  Credentials:
                  - "SharedCredential-0b92d958764a11eebea9677069b1340c"
                  ExecutionType: "assign"
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  message:
                    type: string
                    nullable: true
                  data:
                    $ref: "#/components/schemas/AssignsharedCredential"
              examples:
                default:
                  $ref: "#/components/examples/GetSharedPasswordSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/BadRequestExample"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/UnauthorizedExample"
        "404":
          description: Does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/NotFoundExample"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/InternalServerErrorExample"
        "502":
          description: "Bad Gateway: The proxy server received an invalid response."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/BadGatewayExample"
  /credentials/shared/password:
    post:
      summary: Create a shared password.
      description: This is to create a new shared password credential.
      operationId: createSharedPasswordCredential
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Credential"
              required:
              - SettingType
            examples:
              default:
                $ref: "#/components/examples/CreateSharedPasswordRequestExample"
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/CreateSharedPasswordSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/BadRequestExample"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/UnauthorizedExample"
        "404":
          description: Does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/NotFoundExample"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/InternalServerErrorExample"
        "502":
          description: "Bad Gateway: The proxy server received an invalid response."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/BadGatewayExample"
    put:
      summary: Update shared Credentials.
      description: Update shared Credentials.
      operationId: updateSharedPasswordCredential
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      requestBody:
        description: Shared credential update details.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Credential"
              required:
              - SettingType
            examples:
              default:
                $ref: "#/components/examples/UpdateSharedPasswordRequestExample"
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/UpdateSharedPasswordSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/BadRequestExample"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/UnauthorizedExample"
        "404":
          description: Does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/NotFoundExample"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/InternalServerErrorExample"
        "502":
          description: "Bad Gateway: The proxy server received an invalid response."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/BadGatewayExample"
  # /credentials/user/passwordless/verify:
  #   post:
  #     summary: Verify Passwordless Credentials.
  #     description: Verify Passwordless Credentials.
  #     operationId: verifyUserPasswordlessCredential
  #     tags:
  #       - /credentials/user/passwordless
  #     parameters:
  #       - in: header
  #         name: Authorization
  #         required: true
  #         schema:
  #           type: string
  #           example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
  #           nullable: false
  #     requestBody:
  #       required: true
  #       content:
  #         application/json:
  #           schema:
  #             type: object
  #             additionalProperties: false
  #             properties:
  #               ApplicationID:
  #                 type: string
  #                 pattern: ^[a-fA-F0-9]{32}$
  #                 maxLength: 32
  #                 minLength: 32
  #                 nullable: false
  #                 example: 70a4f870d7ef11ef97ef7fd6a9ac4856
  #               BadgeCode:
  #                 type: string
  #                 nullable: true
  #               EndpointID:
  #                 type: string
  #                 pattern: ^[a-zA-Z0-9]{6}$
  #                 minLength: 6
  #                 maxLength: 6
  #                 nullable: false
  #               Transaction:
  #                 $ref: "#/components/schemas/Transaction"
  #             required:
  #               - ApplicationID
  #               - BadgeCode
  #               - EndpointID
  #           examples:
  #             default:
  #               $ref: "#/components/examples/VerifyPasswordlessRequestExample"
  #     responses:
  #       "200":
  #         description: 200 response
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/ErrorResponse"
  #             examples:
  #               default:
  #                 $ref: "#/components/examples/VerifyPasswordlessSuccessExample"
  #       "400":
  #         description: Bad request
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/ErrorResponse"
  #             examples:
  #               default:
  #                 $ref: "#/components/examples/BadRequestExample"
  #       "401":
  #         description: "Unauthorized: Access token is missing or invalid."
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/ErrorResponse"
  #             examples:
  #               default:
  #                 $ref: "#/components/examples/UnauthorizedExample"
  #       "404":
  #         description: Does not exist.
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/ErrorResponse"
  #             examples:
  #               default:
  #                 $ref: "#/components/examples/NotFoundExample"
  #       "500":
  #         description: An error occurred on the server.
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/ErrorResponse"
  #             examples:
  #               default:
  #                 $ref: "#/components/examples/InternalServerErrorExample"
  #       "502":
  #         description: "Bad Gateway: The proxy server received an invalid response."
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/ErrorResponse"
  #             examples:
  #               default:
  #                 $ref: "#/components/examples/BadGatewayExample"
  /credentials/shared/passwords:
    get:
      summary: Get shared passwords
      description: Get shared passwords list
      operationId: getSharedPasswords
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      - in: query
        name: pageSize
        required: false
        schema:
          type: integer
          nullable: false
      - in: query
        name: search
        required: false
        schema:
          type: string
          nullable: false
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CredentialSharedpassword"
              examples:
                default:
                  $ref: "#/components/examples/GetSharedPasswordsSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /credentials/shared/passwords/assign:
    post:
      summary: Assign shared credentials
      description: Assign shared credentials to users
      operationId: assignSharedCredentials
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CredentialsharedRequest"
            examples:
              default:
                value:
                  Assignees:
                  - "13365320caa4dfse33ebb9f67439fe37"
                  Credentials:
                  - "SharedCredential-0b92d958764a11eebea9677069b1340c"
                  ExecutionType: "assign"
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssignsharedCredential"
              examples:
                default:
                  $ref: "#/components/examples/AssignSharedCredentialsSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /credentials/shared/passwords/list:
    post:
      summary: List shared passwords
      description: List shared passwords with filters
      operationId: listSharedPasswords
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CredentialSharedpassword"
              examples:
                default:
                  $ref: "#/components/examples/ListSharedPasswordsSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /credentials/oloidvault/passkeys:
    get:
      summary: Get oloidvault passkeys
      description: It gets all the oloidvault passkeys
      operationId: getAllPasskeyCredentials
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    nullable: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/UserPasskeyCredential"
              examples:
                default:
                  $ref: "#/components/examples/GetSharedPasswordsSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /credentials/oloidvault/passkey:
    post:
      summary: Create oloidvault passkey
      description: It creates oloidvault passkey
      operationId: createPasskeyCredential
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPasskeyCredential"
            examples:
              default:
                $ref: "#/components/examples/UserPasskeyCredentialExample"
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    nullable: true
                  data:
                    $ref: "#/components/schemas/UserPasskeyCredential"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    put:
      summary: Update oloidvault passkey
      description: It updates oloidvault passkey
      operationId: updatePasskeyCredential
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPasskeyCredential"
            examples:
              default:
                $ref: "#/components/examples/UserPasskeyCredentialExample"
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    nullable: true
                  data:
                    $ref: "#/components/schemas/UserPasskeyCredential"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /credentials/oloidvault/passkey/{credentialId}:
    get:
      summary: Get oloidvault passkey
      description: It get user oloidvault passkey credential
      operationId: getPasskeyCredential
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      - name: credentialId
        in: path
        required: true
        schema:
          type: string
          description: The unique OloID of the user.
          pattern: ^[0-9a-fA-F]{32}$
          example: 70a4f870d7ef11ef97ef7fd6a9ac4856
          minLength: 32
          maxLength: 32
          nullable: false
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    nullable: true
                  data:
                    $ref: "#/components/schemas/UserPasskeyCredential"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      summary: Delete oloidvault passkey
      description: It delete user specific oloidvault passkey
      operationId: deletePasskeyCredential
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      - name: credentialId
        in: path
        required: true
        schema:
          type: string
          description: The unique OloID of the user.
          pattern: ^[0-9a-fA-F]{32}$
          example: 70a4f870d7ef11ef97ef7fd6a9ac4856
          minLength: 32
          maxLength: 32
          nullable: false
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /fido2/keys/public:
    post:
      summary: Create publickey and user credential
      description: It creates publickey and user credentials for that user
      operationId: fidoPublic
      tags:
      - Credentials
      security: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FidokeyPublicRequest"
            examples:
              default:
                $ref: "#/components/examples/FidokeyPublicRequestExample"
      responses:
        "200":
          description: It gives publickeycredential and usercredential
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FidokeyPublicResponse"
              examples:
                default:
                  $ref: "#/components/examples/FidokeyPublicResponseExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/BadRequestExample"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/UnauthorizedExample"
        "404":
          description: Does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/NotFoundExample"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/InternalServerErrorExample"
        "502":
          description: "Bad Gateway: The proxy server received an invalid response."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/BadGatewayExample"
  /fido2/keys/auth:
    post:
      summary: It provides asertion response
      description: It gives asertion response
      operationId: fidoAuth
      tags:
      - Credentials
      security: []
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FidokeyAuthRequest"
            examples:
              default:
                $ref: "#/components/examples/FidokeyAuthRequestExample"
      responses:
        "200":
          description: It gives publickeycredential and usercredential
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FidokeyAuthResponse"
              examples:
                default:
                  $ref: "#/components/examples/FidokeyAuthResponseExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/BadRequestExample"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/UnauthorizedExample"
        "404":
          description: Does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/NotFoundExample"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/InternalServerErrorExample"
        "502":
          description: "Bad Gateway: The proxy server received an invalid response."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/BadGatewayExample"

  /credentials/appinvite:
    post:
      summary: Send app invite
      description: Send app invitation to user
      operationId: sendAppInvite
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                PrimaryId:
                  type: string
                  description: The unique primaryId of the user.
                  nullable: false
            examples:
              default:
                value:
                  PrimaryId: "13365320caa411f083ebb9f67439fe37"
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/SendAppInviteSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /credentials/face/additional-check/verify:
    post:
      summary: Verify face with additional check
      description: Verify face credential with additional checks
      operationId: verifyFaceAdditionalCheck
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdditionalFacecheck"
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Facecheck"
              examples:
                default:
                  $ref: "#/components/examples/VerifyFaceAdditionalCheckSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /credentials/face/login:
    post:
      summary: Face login
      description: Login using face recognition
      operationId: faceLogin
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                Email:
                  type: string
                  format: email
                  nullable: false
                FaceImage:
                  type: string
                  nullable: false
                FileType:
                  type: string
                  nullable: true
                NeedUserToken:
                  type: boolean
                  nullable: false
                TenantName:
                  type: string
                  nullable: false
                UseIDRND:
                  type: boolean
                  nullable: false
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FaceLogin"
              examples:
                default:
                  $ref: "#/components/examples/FaceLoginSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /credentials/search/facelogin:
    post:
      summary: Search face login
      description: Search for face login credentials
      operationId: searchFaceLogin
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                ApplicationID:
                  type: string
                  pattern: ^[a-fA-F0-9]{32}$
                  maxLength: 32
                  minLength: 32
                  nullable: false
                  example: 70a4f870d7ef11ef97ef7fd6a9ac4856
                FaceImage:
                  type: string
                  nullable: false
                TenantID:
                  type: string
                  description: The unique ID of the tenant.
                  nullable: false
                  minLength: 16
                  maxLength: 16
                  pattern: ^[0-9a-fA-F]{16}$
                  example: FA0280A8A0E64DF9
                TenantName:
                  type: string
                  nullable: false
                SimilarityThreshold:
                  type: number
                  nullable: true
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FaceLogin"
              examples:
                default:
                  $ref: "#/components/examples/SearchFaceLoginSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /credentials/qrcode/login:
    post:
      summary: QR code login
      description: Login using QR code
      operationId: qrCodeLogin
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                ChallengeCode:
                  type: string
                  nullable: true
                Connections:
                  type: array
                  items:
                    type: string
                    nullable: true
                TenantID:
                  type: string
                  description: The unique ID of the tenant.
                  nullable: false
                  minLength: 16
                  maxLength: 16
                  pattern: ^[0-9a-fA-F]{16}$
                  example: FA0280A8A0E64DF9
                TenantName:
                  type: string
                  nullable: false
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FaceLogin"
              examples:
                default:
                  $ref: "#/components/examples/QRCodeLoginSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /credentials/idsearch1/login:
    post:
      summary: ID search login
      description: Login using ID search
      operationId: idSearchLogin
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              description: >-
                Exactly one of Pin, IDSearch1, IDSearch2, SecondaryID, Email or
                PrimaryID must be sent alongside ApplicationID and EndpointID.
                Leaving them all out is rejected with MISSING_FIELD, and
                SearchInput does not count as one of them.
              properties:
                ApplicationID:
                  type: string
                  pattern: ^[a-fA-F0-9]{32}$
                  maxLength: 32
                  minLength: 32
                  nullable: false
                  example: 70a4f870d7ef11ef97ef7fd6a9ac4856
                EndpointID:
                  type: string
                  pattern: ^[a-zA-Z0-9]{6}$
                  minLength: 6
                  maxLength: 6
                  nullable: false
                SearchInput:
                  type: string
                  nullable: true
                Pin:
                  type: string
                  nullable: true
                IDSearch1:
                  type: string
                  nullable: true
                IDSearch2:
                  type: string
                  nullable: true
                SecondaryID:
                  type: integer
                  nullable: true
                Email:
                  type: string
                  format: email
                  nullable: true
                PrimaryID:
                  type: string
                  nullable: true
                Transaction:
                  $ref: "#/components/schemas/Transaction"
              required:
              - ApplicationID
              - EndpointID
            examples:
              default:
                $ref: "#/components/examples/IDSearchLoginRequestExample"
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FaceLogin"
              examples:
                default:
                  $ref: "#/components/examples/IDSearchLoginSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /credentials/cardformats:
    get:
      summary: Get card formats
      description: Get available card formats
      operationId: getCardFormats
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CardFormat"
              examples:
                default:
                  $ref: "#/components/examples/GetCardFormatsSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /credentials/identity/verify:
    post:
      summary: Verify identity
      description: Verify user identity
      operationId: verifyIdentity
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                ApplicationID:
                  type: string
                  pattern: ^[a-fA-F0-9]{32}$
                  maxLength: 32
                  minLength: 32
                  nullable: false
                  example: 70a4f870d7ef11ef97ef7fd6a9ac4856
                BadgeCode:
                  type: string
                  nullable: true
                EndpointID:
                  type: string
                  pattern: ^[a-zA-Z0-9]{6}$
                  minLength: 6
                  maxLength: 6
                  nullable: false
                Transaction:
                  $ref: "#/components/schemas/Transaction"
              required:
              - ApplicationID
              - BadgeCode
              - EndpointID
            examples:
              default:
                $ref: "#/components/examples/VerifyIdentityRequestExample"
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CredentialVerify"
              examples:
                default:
                  $ref: "#/components/examples/VerifyIdentitySuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /credentials/multi/appinvites:
    post:
      summary: Send multiple app invites
      description: Send app invitations to multiple users
      operationId: sendMultipleAppInvites
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                OloIDs:
                  type: array
                  items:
                    type: string
                    description: The unique OloID of the user.
                    pattern: ^[0-9a-fA-F]{32}$
                    example: 70a4f870d7ef11ef97ef7fd6a9ac4856
                    minLength: 32
                    maxLength: 32
                    nullable: false
            examples:
              default:
                $ref: "#/components/examples/SendMultipleAppInvitesRequestExample"
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/SendMultipleAppInvitesSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /credentials/user/passwords/{oloID}:
    get:
      summary: Get user passwords
      description: Get all passwords for a user
      operationId: getUserPasswords
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      - name: oloID
        in: path
        required: true
        schema:
          type: string
          description: The unique OloID of the user.
          pattern: ^[0-9a-fA-F]{32}$
          example: 70a4f870d7ef11ef97ef7fd6a9ac4856
          minLength: 32
          maxLength: 32
          nullable: false
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  message:
                    type: string
                    nullable: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Credential"
              examples:
                default:
                  $ref: "#/components/examples/GetUserPasswordsSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /qrcode/create:
    post:
      summary: Create QR code
      description: Create QR code for authentication
      operationId: createQRCode
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateQrcode"
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cloudkey"
              examples:
                default:
                  $ref: "#/components/examples/CreateQRCodeSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /qrcode/{oloid}:
    get:
      summary: Get QR code by OloID
      description: Get QR code for specific user
      operationId: getQRCodeByOloID
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      - name: oloid
        in: path
        required: true
        schema:
          type: string
          description: The unique OloID of the user.
          pattern: ^[0-9a-fA-F]{32}$
          example: 70a4f870d7ef11ef97ef7fd6a9ac4856
          minLength: 32
          maxLength: 32
          nullable: false
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cloudkey"
              examples:
                default:
                  $ref: "#/components/examples/GetQRCodeSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /users/{oloID}/faces:
    post:
      summary: Add user face
      description: Add face credential for user
      operationId: addUserFace
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      - name: oloID
        in: path
        required: true
        schema:
          type: string
          description: The unique OloID of the user.
          pattern: ^[0-9a-fA-F]{32}$
          example: 70a4f870d7ef11ef97ef7fd6a9ac4856
          minLength: 32
          maxLength: 32
          nullable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                FaceImage:
                  type: string
                  nullable: false
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Addface"
              examples:
                default:
                  $ref: "#/components/examples/AddUserFaceSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /users/{oloID}/faces/remove:
    delete:
      summary: Remove user face
      description: Remove face credential from user
      operationId: removeUserFace
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      - name: oloID
        in: path
        required: true
        schema:
          type: string
          description: The unique OloID of the user.
          pattern: ^[0-9a-fA-F]{32}$
          example: 70a4f870d7ef11ef97ef7fd6a9ac4856
          minLength: 32
          maxLength: 32
          nullable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                FaceIDs:
                  type: array
                  items:
                    type: string
                    nullable: false
            examples:
              default:
                $ref: "#/components/examples/RemoveUserFaceRequestExample"
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoveFace"
              examples:
                default:
                  $ref: "#/components/examples/RemoveUserFaceSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /access-control/badges:
    post:
      summary: Access control badges
      description: Manage access control badges
      operationId: accessControlBadges
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                ApplicationID:
                  type: string
                  pattern: ^[a-fA-F0-9]{32}$
                  maxLength: 32
                  minLength: 32
                  nullable: false
                  example: 70a4f870d7ef11ef97ef7fd6a9ac4856
                BadgeCode:
                  type: string
                  nullable: true
                EndpointID:
                  type: string
                  pattern: ^[a-zA-Z0-9]{6}$
                  minLength: 6
                  maxLength: 6
                  nullable: false
              required:
              - ApplicationID
              - BadgeCode
              - EndpointID
            examples:
              default:
                $ref: "#/components/examples/AccessControlBadgesRequestExample"
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CredentialVerify"
              examples:
                default:
                  $ref: "#/components/examples/AccessControlBadgesSuccessExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /users/{oloID}:
    get:
      summary: Get user credentials by oloID
      description: Retrieve details of a specific user credentials by its unique ID
      operationId: getUserCredential
      tags:
      - Credentials
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: eyJraWQiOiJJMXBBZVExaiswNzBuTDJOVUsxUUtTZWdlQXIxTUgwQ29yZ0...
          nullable: false
      - in: path
        name: oloID
        required: true
        schema:
          type: string
          description: The unique OloID of the user.
          pattern: ^[0-9a-fA-F]{32}$
          example: 70a4f870d7ef11ef97ef7fd6a9ac4856
          minLength: 32
          maxLength: 32
          nullable: false
      - in: query
        name: faceUrl
        required: false
        schema:
          type: integer
          nullable: false
      responses:
        "200":
          description: Successfully retrieved
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  message:
                    type: string
                    nullable: true
                  data:
                    $ref: "#/components/schemas/User"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/BadRequestExample"
        "401":
          description: "Unauthorized: Access token is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/UnauthorizedExample"
        "404":
          description: User does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/NotFoundExample"
        "500":
          description: An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/InternalServerErrorExample"
        "502":
          description: "Bad Gateway: The proxy server received an invalid response."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                default:
                  $ref: "#/components/examples/BadGatewayExample"
components:
  securitySchemes:
    AuthToken:
      type: http
      scheme: bearer
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  schemas:
    Credential:
      type: object
      additionalProperties: false
      properties:
        CredentialID:
          type: string
          description: The unique OloID of the user.
          pattern: ^[0-9a-fA-F]{32}$
          example: 70a4f870d7ef11ef97ef7fd6a9ac4856
          minLength: 32
          maxLength: 32
          nullable: false
        OloID:
          type: string
          description: The unique OloID of the user.
          pattern: ^[0-9a-fA-F]{32}$
          example: 70a4f870d7ef11ef97ef7fd6a9ac4856
          minLength: 32
          maxLength: 32
          nullable: false
        TenantID:
          type: string
          description: The unique ID of the tenant.
          nullable: false
          minLength: 16
          maxLength: 16
          pattern: ^[0-9a-fA-F]{16}$
          example: FA0280A8A0E64DF9
        TenantName:
          type: string
          nullable: false
          minLength: 2
          example: preview
        ExternalID:
          type: string
          nullable: true
        FriendlyName:
          type: string
          nullable: true
        SecretID:
          type: string
          nullable: true
        AssignedUsers:
          type: array
          items:
            type: string
          nullable: true
        UserType:
          type: string
          nullable: false
        CredType:
          type: string
          nullable: false
        UserName:
          type: string
          nullable: false
        ApplicationType:
          type: string
          nullable: false
          enum:
          - Oloid Verify
          - Generic
          - Passwordless
          example: Oloid Verify
        PrimaryID:
          type: string
          nullable: true
        SecondaryID:
          type: string
          nullable: true
        FirstName:
          type: string
          nullable: true
        LastName:
          type: string
          nullable: true
        FullName:
          type: string
          nullable: true
        Managers:
          type: array
          items:
            type: string
          nullable: true
        DomainName:
          type: string
          nullable: true
        Email:
          type: string
          format: email
          nullable: true
        IDSearch1:
          type: string
          nullable: true
        IDSearch2:
          type: string
          nullable: true
        PIN:
          type: string
          nullable: true
        PreferredMachines:
          type: array
          nullable: true
          items:
            type: string
            nullable: true
        BluetoothToken:
          type: string
          nullable: true
        SettingsKey:
          type: string
          nullable: true
        SettingType:
          type: string
          nullable: true
        SettingsID:
          type: string
          nullable: true
        Password:
          type: string
          format: password
          nullable: true
        PasswordType:
          type: string
          nullable: false
        PasswordHash:
          type: string
          nullable: true
        PasswordSource:
          type: string
          nullable: true
        CreatedAt:
          type: string
          format: date-time
          nullable: true
        UpdatedAt:
          type: string
          format: date-time
          nullable: true
        Status:
          type: string
          nullable: true
        Groups:
          type: array
          nullable: true
          items:
            type: string
            nullable: false
    User:
      type: object
      additionalProperties: false
      properties:
        1WinPassword:
          type: string
          nullable: true
        1WinUserName:
          type: string
          nullable: true
        Attributes:
          type: array
          items:
            type: object
            properties:
              Name:
                type: string
                nullable: true
              Value:
                type: string
                nullable: true
            nullable: true
          nullable: true
        AccessLevelGroup:
          type: boolean
          nullable: true
        AlternateEmails:
          type: array
          items:
            type: string
            format: email
            nullable: true
          nullable: true
        AppCustomData:
          type: string
          nullable: true
        ApplicationID:
          type: string
          pattern: ^[a-fA-F0-9]{32}$
          minLength: 32
          maxLength: 32
          example: 70a4f870d7ef11ef97ef7fd6a9ac4856
          nullable: false
        Applications:
          type: array
          items:
            $ref: '#/components/schemas/Application'
        AuthHeader:
          type: string
          nullable: true
        AzurePassword:
          type: string
          nullable: true
        AzureUserName:
          type: string
          nullable: true
        BadgeBinary:
          type: string
          nullable: true
        Bluetooth:
          $ref: '#/components/schemas/Bluetooth'
        ChallengeCodeCreatedOn:
          type: integer
          nullable: true
        ChallengeCodeExpiry:
          type: string
          format: date-time
          nullable: true
        ClearAllLog:
          type: boolean
          nullable: true
        CloudKey:
          $ref: '#/components/schemas/Cloudkey'
        CognitoRole:
          type: string
          nullable: true
        Confidence:
          type: number
          nullable: true
        ConnectionDisplayName:
          type: string
          minLength: 2
          nullable: false
        ConnectionGroupID:
          type: string
          nullable: true
        ConnectionID:
          type: string
          pattern: ^[0-9a-fA-F]{32}$
          example: 70a4f870d7ef11ef97ef7fd6a9ac4856
          minLength: 32
          maxLength: 32
          nullable: false
        ConnectionName:
          type: string
          minLength: 2
          nullable: true
        ConsentDenied:
          type: boolean
          nullable: true
        ConsentDeniedTime:
          type: string
          format: date-time
          nullable: true
        ConsentMetadata:
          type: array
          items:
            $ref: '#/components/schemas/ConsentMetadata'
        CreatedAt:
          type: string
          format: date-time
          nullable: true
        CredentialFormatID:
          type: string
          nullable: true
        CredentialFormatName:
          type: string
          nullable: true
        CredentialMetadata:
          $ref: '#/components/schemas/CredentialMetadata'
        DebugTransactionExpiry:
          type: integer
          nullable: true
        DeviceType:
          type: string
          nullable: true
        DisplayName:
          type: string
          nullable: true
        Email:
          type: string
          format: email
          nullable: true
        Enabled:
          type: boolean
          nullable: true
        EnableDesktopNotification:
          type: boolean
          nullable: true
        EndpointName:
          type: string
          nullable: true
        EndpointType:
          type: string
          nullable: true
        ExternalID1:
          type: string
          nullable: true
        ExternalUsername:
          type: string
          nullable: true
        FaceDescriptor:
          type: string
          nullable: true
        Faces:
          type: array
          items:
            $ref: '#/components/schemas/Face'
        FirstName:
          type: string
          nullable: true
        FullName:
          type: string
          nullable: true
        GetBatteryInfo:
          type: boolean
          nullable: true
        GroupOnlineModelFaceID:
          type: string
          nullable: true
        Groups:
          type: array
          items:
            type: string
            pattern: ^[a-fA-F0-9]{32}$
            minLength: 32
            maxLength: 32
            nullable: false
            description: Group ID reference
        IDSearch1:
          type: string
          nullable: true
          description: Searchable badge or card value. Sending a number is rejected by the store.
          example: '0112345678'
        IDSearch2:
          type: string
          nullable: true
        IDVerification:
          type: string
          nullable: true
        LastName:
          type: string
          nullable: true
        LogUploadTime:
          type: integer
          nullable: true
        Name:
          type: string
          nullable: true
        OloID:
          type: string
          description: The unique OloID of the user.
          pattern: ^[0-9a-fA-F]{32}$
          example: 70a4f870d7ef11ef97ef7fd6a9ac4856
          minLength: 32
          maxLength: 32
          nullable: false
        OloidVaultCredentials:
          type: array
          items:
            type: string
            nullable: true
          nullable: true
        OndeviceModel:
          type: string
          nullable: true
        PasskeyCredentials:
          type: array
          items:
            type: string
            nullable: true
          nullable: true
        Phone:
          type: string
          nullable: true
        Pin:
          type: string
          nullable: true
        PreferredLanguage:
          type: string
          nullable: true
        PrimaryFace:
          type: string
          nullable: true
        PrimaryID:
          type: string
          nullable: false
        QRCode:
          $ref: '#/components/schemas/Qrcode'
        Role:
          type: string
          nullable: true
        Scopes:
          type: array
          items:
            type: string
            nullable: true
        SearchField:
          type: string
        SecondaryID:
          type: integer
          nullable: true
        SessionFeature:
          type: string
          nullable: true
        Stability:
          type: integer
          nullable: true
        Status:
          type: string
          nullable: true
        Supervisor:
          type: string
          nullable: true
        SupervisorEmail:
          type: string
          nullable: true
        TemplateID:
          type: string
          nullable: true
        TenantID:
          type: string
          description: The unique ID of the tenant.
          nullable: false
          minLength: 16
          maxLength: 16
          pattern: ^[0-9a-fA-F]{16}$
          example: FA0280A8A0E64DF9
        TenantName:
          type: string
          nullable: false
        Timezone:
          type: string
          nullable: true
        TimeRule:
          type: array
          items:
            $ref: '#/components/schemas/Timerule'
        UpdatedAt:
          type: string
          format: date-time
          nullable: true
        UserConsentProvided:
          type: boolean
          nullable: true
        UserConsentStatus:
          type: boolean
          nullable: true
        UserIntents:
          $ref: '#/components/schemas/Intent'
        UserMetadata:
          $ref: '#/components/schemas/UserMetadata'
        UserPasswords:
          type: array
          items:
            type: string
            nullable: true
        UserStatus:
          type: string
          nullable: true
        UserType:
          type: string
          nullable: true
        WinPassword:
          type: string
          nullable: true
        WinUserName:
          type: string
          nullable: true
        importAs:
          type: string
          nullable: true
        UserCreateDate:
          type: string
          format: date-time
          nullable: true
        UserLastModifiedDate:
          type: string
          format: date-time
          nullable: true
        Username:
          type: string
          nullable: true
        Vaccination:
          type: string
          nullable: true
        Message:
          type: string
          nullable: true
        Success:
          type: boolean
          nullable: true
    Transaction:
      type: object
      additionalProperties: false
      properties:
        AgentBuildNumber:
          type: string
          nullable: true
        ActionStatus:
          type: string
          nullable: true
        AllEndpointActionStatus:
          type: string
          nullable: true
        AppSource:
          type: string
          nullable: true
        CredentialFormatID:
          type: string
          nullable: true
        BadgeBinary:
          type: string
          nullable: true
        BadgeCode:
          type: string
          nullable: true
        CreatedOn:
          type: number
          nullable: true
        ConnectionDisplayName:
          type: string
          nullable: true
        LivelinessStatus:
          type: string
          nullable: true
        AuthMethod:
          type: string
          nullable: true
        MonthCreated:
          type: string
          nullable: true
        Faces:
          type: array
          items:
            $ref: '#/components/schemas/Face'
        EndpointType:
          type: string
          enum:
          - DeviceLock
          - Windows Login
          - OloidVault
          - CloudKey
          - M-Tag
          - Oloid Connect
          - Workflow
          - Oloid Verify
          - OloidWorkflow
          - iPad
          nullable: true
        Tenant:
          type: string
          nullable: false
        AppConfigUpdatedAt:
          type: integer
          nullable: true
        OloID:
          type: string
          description: The unique OloID of the user.
          pattern: ^[0-9a-fA-F]{32}$
          example: 70a4f870d7ef11ef97ef7fd6a9ac4856
          minLength: 32
          maxLength: 32
          nullable: false
        TenantName:
          type: string
          nullable: false
        AuthStatus:
          type: string
          nullable: true
        TimeElapsed:
          type: integer
          nullable: true
        ClientInfo:
          $ref: '#/components/schemas/ClientInfo'
        Name:
          type: string
          nullable: true
        SearchHttpStatus:
          type: integer
          nullable: true
        DeviceType:
          type: string
          nullable: true
        LivelinessQuality:
          type: number
          nullable: true
        SearchEndTimeAtServer:
          type: number
          nullable: true
        ProxyUrl:
          type: string
          format: uri
          nullable: true
        PasswordlessAuthStatus:
          type: string
          nullable: true
        SourceConnection:
          type: string
          nullable: true
        UserConsentProvided:
          type: boolean
          nullable: true
        Role:
          type: string
          nullable: true
        ApplicationType:
          type: string
          nullable: false
          enum:
          - Oloid Verify
          - Generic
          - Passwordless
          example: Oloid Verify
        FullName:
          type: string
          nullable: true
        AppBuildNumber:
          type: string
          nullable: true
        OverAllStatus:
          type: string
          nullable: true
        AppBundleId:
          type: string
          nullable: true
        SyncSource:
          type: string
          nullable: true
        Groups:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/Group'
        SoftLivelinessResult:
          $ref: '#/components/schemas/Liveliness'
        IsPasswordFillByAdaptiveUser:
          type: boolean
          nullable: true
        IsAuthorized:
          type: boolean
          nullable: true
        FRMethod:
          type: string
          nullable: true
        IsProxyMode:
          type: boolean
          nullable: true
        Intent:
          $ref: '#/components/schemas/Intent'
        BadgeSearchType:
          type: string
          nullable: true
        IsPasswordAsSecondFactor:
          type: boolean
          nullable: true
        CapturedFace:
          type: string
          nullable: true
        SecondaryID:
          type: string
          nullable: true
        AppVersionNumber:
          type: integer
          nullable: true
        Status:
          type: string
          nullable: true
        TransactionID:
          type: string
          pattern: ^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$
          maxLength: 36
          minLength: 36
          example: b57f2ce0-3a0a-11f0-bdc5-c15d5eb33b4b
          nullable: false
        FaceCropped:
          type: boolean
          nullable: true
        CredentialFormatName:
          type: string
          nullable: true
        TenantID:
          type: string
          description: The unique ID of the tenant.
          nullable: false
          minLength: 16
          maxLength: 16
          pattern: ^[0-9a-fA-F]{16}$
          example: FA0280A8A0E64DF9
        User:
          $ref: '#/components/schemas/User'
        AuthType:
          type: string
          nullable: true
        ApplicationID:
          type: string
          pattern: ^[a-fA-F0-9]{32}$
          maxLength: 32
          minLength: 32
          nullable: false
          example: 70a4f870d7ef11ef97ef7fd6a9ac4856
        SearchField:
          type: string
        SearchInitTimeAtServer:
          type: number
          nullable: true
        FRConfidence:
          type: string
          nullable: true
        ExtractDescriptorFailed:
          type: boolean
          nullable: true
        PlatformActions:
          type: object
          additionalProperties: false
          nullable: true
        EndpointConfigUpdatedAt:
          type: integer
          nullable: true
        Versions:
          type: object
          additionalProperties: false
          nullable: true
        DeviceOS:
          type: string
          nullable: true
        ApplicationName:
          type: string
          nullable: true
        PrimaryID:
          type: string
          nullable: true
        OtherMetadata:
          type: object
          additionalProperties:
            type: string
            nullable: true
          nullable: true
        UpdatedOn:
          type: integer
          nullable: true
        FaceMatchStatus:
          type: string
          nullable: true
        FREndTime:
          type: number
          nullable: true
        LivelinessResults:
          $ref: '#/components/schemas/LivelinessResult'
        FaceCompareResult:
          $ref: '#/components/schemas/LivelinessResult'
        ConnectionID:
          type: string
          pattern: ^[0-9a-fA-F]{32}$
          example: 70a4f870d7ef11ef97ef7fd6a9ac4856
          minLength: 32
          maxLength: 32
          nullable: false
        Mode:
          type: string
          nullable: true
        DisableCropFace:
          type: boolean
          nullable: true
        DisableLiveliness:
          type: boolean
          nullable: true
        EndpointName:
          type: string
          nullable: true
        EndpointActions:
          $ref: '#/components/schemas/EndpointAction'
        EndpointID:
          type: string
          pattern: ^[a-zA-Z0-9]{6}$
          minLength: 6
          maxLength: 6
          nullable: false
        SearchInput:
          type: string
          nullable: true
        LivelinessType:
          type: string
          nullable: true
        Timestamp:
          type: integer
          nullable: true
        LivelinessConfidence:
          type: number
          nullable: true
        LivelinessScore:
          type: number
          nullable: true
        FRInitTime:
          type: number
          nullable: true
        LivelinessThreshold:
          type: number
          nullable: true
        DetectionTime:
          type: number
          nullable: true
        TransactionType:
          type: string
          nullable: false
        WindowsLoginUser:
          $ref: '#/components/schemas/Window'
        Applications:
          type: array
          items:
            type: string
            nullable: true
        Endpoints:
          type: array
          items:
            type: string
            nullable: false
        Timezone:
          type: string
          nullable: true
        IntegrationID:
          type: string
          nullable: true
        IntegrationMethod:
          type: string
          nullable: true
        FromDate:
          type: number
          nullable: true
        ToDate:
          type: number
          nullable: true
        FileID:
          type: string
          nullable: true
        ReturnEndpoints:
          type: boolean
          nullable: true
        TimezoneOffset:
          type: number
          nullable: true
        page:
          type: number
          nullable: true
        WindowsCredType:
          type: string
          nullable: true
        WindowsUserType:
          type: string
          nullable: true
        CapturedFaceUrl:
          type: boolean
          nullable: true
        ReturnAllFields:
          type: boolean
          nullable: true
        PageSize:
          type: number
          nullable: true
        NextPageToken:
          type: object
          additionalProperties: false
          nullable: true
        PrimaryId:
          type: string
          nullable: true
        FilterKey:
          type: string
          nullable: true
        FilterValue:
          type: string
          nullable: true
    Face:
      type: object
      additionalProperties: false
      properties:
        CaptureDate:
          type: string
          format: date-time
          nullable: true
        FaceID:
          type: string
          nullable: true
        ModelPVData:
          $ref: '#/components/schemas/Worker'
        OnlineModelFaceID:
          type: string
          nullable: true
        SignedUrl:
          type: string
          format: url
          nullable: true
        ReferenceImageURL:
          type: string
          format: url
          nullable: true
        Stability:
          type: integer
          nullable: true
        BodyHTML:
          type: string
          nullable: true
        SmsBody:
          type: string
          nullable: true
        Subject:
          type: string
          nullable: true
        ReturnPath:
          type: string
          nullable: false
        QueryParams:
          $ref: '#/components/schemas/Worker'
        Recipients:
          type: string
          nullable: true
        EmailBody:
          type: string
          nullable: true
        SendOnlySms:
          type: boolean
          nullable: true
        SmsRecipients:
[...]
